* {
  box-sizing: border-box;
}

html {
  font-size: 10px;
}

html,
body {
  margin: 0;
  overflow-x: hidden;
  padding: 0;
}

body {
  font-family: 'Atkinson Hyperlegible', sans-serif;
  font-size: 1.8rem;
  font-weight: 400;
}

a {
  color: #4c543f;
  
  &:hover,
  &:focus {
    color: #000;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Castoro', serif;
  font-weight: 400;
}

strong {
  font-weight: 700;
}

code {
  font-family: 'PT Mono', monospace;
}

img {
  height: auto;
  max-width: 100%;
}

.gutter {
  padding-inline-end: 3.6rem;
  padding-inline-start: 3.6rem;
}

.margin-reset {
  margin: 0;
  margin-block-end: 0;
  margin-block-start: 0;
  margin-inline-end: 0;
  margin-inline-start: 0;
}

.max-width {
  max-width: 1400px;

  &--content {
    max-width: 650px;
  }
}

.list {
  &--unstyled {
    list-style: none;
    margin: 0;
    padding: 0;
  }
}