body {
  font-family: 'Atkinson Hyperlegible', sans-serif;
  font-weight: 400;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Castoro', serif;
}

strong {
  font-weight: 700;
}

code {
  font-family: 'PT Mono', monospace;
}